[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
v = {editable = true,version = "*"}

[packages]
pandas = "*"
pandas-datareader = "*"
matplotlib = "*"
beautifulsoup4 = "*"
scikit-learn = "*"
mpl-finance = "*"
requests = "*"
pickle = "*"

[requires]
python_version = "3.7"
